pipeline/dnaImport1.json
{
	"name": "dnaImport1",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "List Config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('List Config').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Get Metadata1",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "az_blob_dataFolder_dynamic",
									"type": "DatasetReference",
									"parameters": {
										"directory": {
											"value": "@item().src_directory",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"childItems"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Get Metadata1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "dnaImport2",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"fileArray": {
										"value": "@activity('Get Metadata1').output.childItems",
										"type": "Expression"
									},
									"src_directory": {
										"value": "@item().src_directory",
										"type": "Expression"
									},
									"dest_schemaName": {
										"value": "@item().dest_schemaName",
										"type": "Expression"
									},
									"dest_tableName": {
										"value": "@item().stg_tableName",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "List Config",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select [src_directory],[dest_schemaName], [stg_tableName]\nfrom dbo.azconfig\nwhere active = '1' and aztype = 'ImportFolder'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "az_sql_dnadata_db",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"folder": {
			"name": "James/tools/dnsImportFromFolder"
		},
		"annotations": [],
		"lastPublishTime": "2022-08-14T04:17:36Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}